<main>
    <div class="centrado">
        <h2>Elecciones 2023: ¿Qué se vota este año?</h2>
    </div>
    <div class="cont">
        <p class="pIndex">
            Este será un año muy político en la Argentina ya que se celebrarán las Primarias Abiertas Simultáneas y
            Obligatorias (PASO),
            las elecciones presidenciales y las legislativas en cada provincia. Además, en caso de ser necesario puede
            darse un balotaje o segunda vuelta para
            decidir quién será el presidente del país hasta 2027. Este es el calendario electoral 2023 completo.
        </p>
        <p>
            Las PASO son de carácter obligatorio para todas y todos los electores que figuren en el padrón. También es
            una obligación para todos los partidos
            políticos elegir a sus candidatos en internas abiertas en un mismo día y en todo el país. Votan los mismos
            electores que en los comicios generales.

            A diferencia de las elecciones generales, cada agrupación política puede presentar tantas listas para
            competir por el mismo cargo como desee.

            Por eso, según el distrito de residencia, las personas votarán para cargos nacionales, provinciales y
            locales (dependiendo de la fecha de cada comicio). Por lo tanto, la cantidad de secciones que tendrán las
            boletas difiere entre cada distrito en función de lo que se elige en ellos.

            Si se elige más de una categoría la fuerza política que compite puede presentarse a competir por los cargos
            nacionales, por los provinciales, por los locales y/o por todos ellos. Puede suceder que haya agrupaciones
            políticas que presenten una sola lista para un cargo y varias para otro.
        </p>
    </div>
    <div class="contCenter">
        <img class="imgElec" src="/img/queVoto.png" alt="que se vota">
    </div>
</main>