html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.nav-item{
  list-style: none;
}

.contenedorPadre{
  height: calc(100% - 83px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contCenter{
  display: flex;
  justify-content: center;
}

.imgElec{
  height: 500px;
  width: auto;
}

.cards-index{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imgCan{
  height: auto;
  width: 250px;
  display: flex;
  justify-content: center;
}

.card-img-top{
  height: 180px;
  width: 400px;
}

li a:hover{
  color: black;
  font-size: large;
  transition: 0.5s;
}

.imgPart{
  height: 180px;
  width: 400px;
}

.card-body-partido{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fotoLogo{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 1% 1% 1% 1%;
}

.texto{
  margin: 1% 1% 1% 1%;
}

.imgCredit {
  display: flex;
  margin: 2%;
  border-radius: 100%;
  justify-content: space-evenly;
}

pre{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}
